@font-face{
  font-family: Francois;
  src: url("../FrancoisOne-Regular/FrancoisOne-Regular.ttf");
}
@font-face{
  
  font-family: Montserratbold;
  src: url("../Montserratbold/Montserrat-Bold.ttf");
}
@font-face{
  
  font-family: Montserratsemibold;
  src: url("../Montserratsemibold/Montserrat-SemiBold.ttf");
}
@font-face{
  
  font-family: Montserratmedium;
  src: url("../Montserratmedium/Montserrat-Medium.ttf");
}
/*-------------------------------------------------------------------------*/
* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v1_2 {
    /*/////////////////////////////DIV INICIO//////////////////////////////////////////////*/
    width: 1920px;
    height: 3080px;
    background: rgb(255, 255, 255);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v20_29 {
    /*inicio*/
    width: 1877px;
    height: 738px;
    background: linear-gradient(180deg, #097A59 0%, #0B9A70 100%);
   background-size: cover;
    opacity: 1;
    position: absolute;
    top: 33px;
    left: 32px;
    border: 0px solid rgba(0,0,0,1);
    overflow: hidden;
  }
  .letrasV_2{
    width: 827px;
    height: 70px;
    color: #FFFFFF;
    position: absolute;
    top: 300px;
    left: 570px;
    font-family: Montserratbold;
    font-weight: 700;
    font-size: 80px;
    
    opacity: 1;
    line-height: 97.52px;
    text-align: center;
}
/*/////////////////////////////////////////////DIV SEGUND0/////////////////////////////////////////////*/
  .v20_9 {
    width: 100%;
    height: 1971px;
    opacity: 1;
    position: absolute;
    top: 771px;
    left: 32px;
    border: 0px solid rgba(0,0,0,1);
    overflow: hidden;
    background-image: url("../images/fonA.jpg");
    background-size: cover;
    background-position: center;
    filter: brightness(0.5);
  } 
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }  
    .name {
    color: #fff;
  }
  .letrasV_2_2{
    width: 1066px;
    height: 70px;
    color: #ffffff;
    position: absolute;
    top: 920px;
    left: 427px;
    font-family: Montserratsemibold;
    font-weight: 600;
    font-size: 70px;
  
    opacity: 1;
    line-height: 97.52px;
    text-align: center;
  }
  /*/////////////////////////////////DIV FINAL/////////////////////////////////////////////*/
  .v7_82 {
    /*caja grande 6*/
    width: 100%;
    height: 398px;
    background: rgba(9,82,55,1);
    opacity: 1;
    position: absolute;
    top: 2688px;
    left: 22px;
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .v7_100 {
    /*caja grande 6letra corre*/
    width: 204px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 2860px;
    left: 195px;
    font-family: Montserratmedium;
    font-weight: Medium;
    font-size: 22px;
    opacity: 1;
    text-align: left;
  }
  .v7_101 {
    /*ciudad*/
    width: 204px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 2918px;
    left: 195px;
    font-family: Montserratmedium;
    font-weight: Medium;
    font-size: 22px;
    opacity: 1;
    text-align: left;
  }
  .v7_102 {
    /*numero*/
    width: 204px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 2958px;
    left: 195px;
    font-family: Montserratmedium;
    font-weight: Medium;
    font-size: 22px;
    opacity: 1;
    text-align: left;
  }
  .v7_86 {
    /*encuntranos*/
    width: 204px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 2790px;
    left: 1290px;
    font-family: Montserratmedium;
    font-weight: Medium;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v7_92 {
    /*historia*/
    width: 89px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 2814px;
    left: 740px;
    font-family: Montserratmedium;
    font-weight: Medium;
    font-size: 22px;
    opacity: 1;
    text-align: left;
  }
  .v7_93 {
    /*terminis y cond*/
    width: 276px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 2862px;
    left: 740px;
    font-family: Montserratmedium;
    font-weight: Medium;
    font-size: 22px;
    opacity: 1;
    text-align: left;
  }
  .v7_94 {
    /*politica de privacidad*/
    width: 255px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 2909px;
    left: 740px;
    font-family: Montserratmedium;
    font-weight: Medium;
    font-size: 22px;
    opacity: 1;
    text-align: left;
  }
  .v7_88 {
    /*caja grande 6icono*/
    width: 41px;
    height: 41px;
    background-image: url("../images/icx.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2840px;
    left: 1310px;
  }
  .v7_89 {
    /*caja grande 6icono*/
    width: 41px;
    height: 41px;
    background-image: url("../images/icf.png");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
    position: absolute;
    top: 2840px;
    left: 1360px;
  }
  .v7_90 {
    /*caja grande 6icono*/
    width: 41px;
    height: 41px;
    background-image: url("../images/ici.png");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
    position: absolute;
    top: 2840px;
    left: 1400px;
  }
  
  .v7_84 {
    /*caja grande 6iconotata*/
    width: 137px;
    height: 135px;
    background: url("../images/v7_84.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2700px;
    left: 210px;
    overflow: hidden;
  }
  /*/////////////////////////////////DIV HEADER/////////////////////////////////////////////////////////*/
  .v20_29 .v7_84_1{
    width: 144px;
    height: 143px;
    background: url("../images/v7_84.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 10px;
    left: 170px;
    overflow: hidden;
  }
  header {
    position: absolute; 
    top: 70px; 
    left: 500px; 
    padding: 1em;
    text-align: center;
  }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  nav li {
    margin-right: 120px;
  }
  nav a {
    color:#FFFFFF;
    font-weight: 600;
    font-size: 27px;
    line-height: 32.91px;
  }
  nav a:hover {
    color:#095237;
  }
   /*//////////////////////////////////////////////////////////////////////////////////////*/
.rec2{
  width: 1195px;
  height: 185px;
  position: absolute;
  top: 870px;
  left: 350px;
  border-radius: 75px 75px 0px 0px;
  opacity: 0px;
  background: #097A59;
  font-size: 44px;
  font-family: Montserrat;
  font-weight: 500;
  text-align: center;
  padding: 6px;

}
.rec2 a{
  text-decoration: none;
  color: #FFFFFF;
}
.rec3{
  width: 1195px;
  height: 811px;
  position: absolute;
  top: 1055px;
  left: 350px;
  border-radius: 0px 0px 75px 75px;
  opacity: 0px;
  background: linear-gradient(180deg, #CECECE 0%, #FFFFFF 100%);
  font-size: 30px;
  font-family: Montserrat;
  font-weight: 500;
  text-align: justify;
  padding: 90px;
  border: 1px solid;
  border-image-source: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(102, 102, 102, 0) 100%);
}
.rec3 a{
  text-decoration: none;
  color: #097A59;
}
  
.li1{position: absolute;left: 100px;top: 120px; font-family: Montserratmedium; font-weight:500 ; font-size: 30px;}
.li2{position: absolute;left: 100px;top: 191px; font-family: Montserratmedium; font-weight:500 ; font-size: 30px;}
.li3{position: absolute;left: 100px;top: 262px; font-family: Montserratmedium; font-weight:500 ; font-size: 30px;}
.li4{position: absolute;left: 100px;top: 333px; font-family: Montserratmedium; font-weight:500 ; font-size: 30px;}
.li5{position: absolute;left: 100px;top: 404px; font-family: Montserratmedium; font-weight:500 ; font-size: 30px;}
.li6{position: absolute;left: 100px;top: 475px; font-family: Montserratmedium; font-weight:500 ; font-size: 30px;}



.line1{
  width: 994px;height: 6px;
  opacity: 0px;position: absolute;
  top: 165px;left: 80px;background: #C9C6C6;
}
.line2{
  width: 994px;height: 6px;
  opacity: 0px;position: absolute;
  top: 236px;left: 80px;background: #C9C6C6;
}
.line3{
  width: 994px;height: 6px;
  opacity: 0px;position: absolute;
  top: 307px;left: 80px;background: #C9C6C6;
}
.line4{
  width: 994px;height: 6px;
  opacity: 0px;position: absolute;
  top: 378px;left: 80px;background: #C9C6C6;
}
.line5{
  width: 994px;height: 6px;
  opacity: 0px;position: absolute;
  top: 449px;left: 80px;background: #C9C6C6;
}
.line6{
  width: 994px;height: 6px;
  opacity: 0px;position: absolute;
  top: 520px;left: 80px;background: #C9C6C6;
}

/*//////////////////////////////////////////////////////////////////*/
.imgfb{
  background-image: url("../images/fb.png");
  background-position: center;
  background-size: cover;
  width: 38px;
  height: 38px;
  position: absolute;
  opacity: 0px;
  left: 950px;
  top: 120px;
}
.imgfb2{
  background-image: url("../images/fb.png");
  background-position: center;
  background-size: cover;
  width: 38px;
  height: 38px;
  position: absolute;
  opacity: 0px;
  left: 950px;
  top: 191px;
}
.imgfb3{
  background-image: url("../images/fb.png");
  background-position: center;
  background-size: cover;
  width: 38px;
  height: 38px;
  position: absolute;
  opacity: 0px;
  left: 950px;
  top: 262px;
}
.imgfb4{
  background-image: url("../images/fb.png");
  background-position: center;
  background-size: cover;
  width: 38px;
  height: 38px;
  position: absolute;
  opacity: 0px;
  left: 950px;
  top: 333px;
}
.imgfb5{
  background-image: url("../images/fb.png");
  background-position: center;
  background-size: cover;
  width: 38px;
  height: 38px;
  position: absolute;
  opacity: 0px;
  left: 950px;
  top: 404px;
}
.imgfb6{
  background-image: url("../images/fb.png");
  background-position: center;
  background-size: cover;
  width: 38px;
  height: 38px;
  position: absolute;
  opacity: 0px;
  left: 950px;
  top: 475px;
}


/*///////////////////////////////////////////////////////////*/
.imgwb{
  background-image: url("../images/whats.png");
  background-position: center;
  background-size: cover;
  width: 38px;
  height: 38px;
  position: absolute;
  opacity: 0px;
  left: 1005px;
  top: 120px;
}
.imgwb2{
  background-image: url("../images/whats.png");
  background-position: center;
  background-size: cover;
  width: 38px;
  height: 38px;
  position: absolute;
  opacity: 0px;
  left: 1005px;
  top: 191px;
}
.imgwb3{
  background-image: url("../images/whats.png");
  background-position: center;
  background-size: cover;
  width: 38px;
  height: 38px;
  position: absolute;
  opacity: 0px;
  left: 1005px;
  top: 262px;
}
.imgwb4{
  background-image: url("../images/whats.png");
  background-position: center;
  background-size: cover;
  width: 38px;
  height: 38px;
  position: absolute;
  opacity: 0px;
  left: 1005px;
  top: 333px;
}
.imgwb5{
  background-image: url("../images/whats.png");
  background-position: center;
  background-size: cover;
  width: 38px;
  height: 38px;
  position: absolute;
  opacity: 0px;
  left: 1005px;
  top: 404px;
}
.imgwb6{
  background-image: url("../images/whats.png");
  background-position: center;
  background-size: cover;
  width: 38px;
  height: 38px;
  position: absolute;
  opacity: 0px;
  left: 1005px;
  top: 475px;
}
